body{
    background-color: #FFF5E9;
}
h1 {
    color: #DFF6FF;
    text-align: center;
}
h2{
    color: #DDF6FF;
}
.botones{
    border-radius: 10%;
    color:#FFF5E9;
    background-color:#F9FFEC;
}
